@using Microsoft.AspNetCore.Identity
@using NewsReport.Models
@inject SignInManager<NewsUser> SignInManager
@inject UserManager<NewsUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
             <li>                 
                <a asp-area="Identity" asp-page="/Account/Manage/Index" style="color:Green" title="Manage">Hello @UserManager.GetUserName(User)!</a>             
             </li>
            <li>                 
                <a style="color:White" href="/NewsAdmin"> จัดการรายวิชา </a>             
            </li>             
            <li>                 
                <a style="color:White" href="/NewsCategoryAdmin"> จัดการหมวดวิชา </a>             
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        
        <li><a asp-area="Identity" asp-page="/Account/Login" style="color:#33CCFF">Login</a></li>
    </ul>
}
