@page 
@using Microsoft.AspNetCore.Identity 
@using NewsReport.Models 
 
@model NewsReport.Pages.NewsAdmin.CreateModel 
@inject SignInManager<NewsUser> SignInManager 
@inject UserManager<NewsUser> UserManager 
 
@{     
    ViewData["Title"] = "รายงานข่าวใหม่"; 
} 
 
<h2>รายงานข่าวใหม่</h2> 
 
<h4>กรอกข้อมูลดังนี้</h4> 
<hr /> 
<div class="row">     
    <div class="col-md-4">         
        <form method="post">             
            <div asp-validationsummary="ModelOnly" class="text-danger"></div>             
            <div class="form-group">                 
                เลือกหมวดชั้นปี 
                <select asp-for="News.NewsCategoryID" class ="form-control" asp-items="ViewBag.NewsCategoryID"></select>             
            </div>         
             <div class="form-group">                 
                รหัสวิชา                 
                <input asp-for="News.NewsStatus" class="form-control" />                                       
                <span asp-validationfor="News.NewsStatus" class="text-danger"></span>             
            </div>           
            <div class="form-group">                            
                ชื่อวิชาภาษาอังกฤษ                 
                <textarea asp-for="News.NewsDetail" class="formcontrol" rows=5 cols=50 >                 
                </textarea>                 
                <span asp-validationfor="News.NewsDetail" class="text-danger"></span>             
            </div>             
            <div class="form-group">                 
                ภาคการศึกษา                
                <input asp-for="News.GpsLat" class="form-control" />                 
                <span asp-validationfor="News.GpsLat" class="text-danger"></span>             
            </div>             
            <div class="form-group">                
                จำนวนผู้ลงทะเบียน              
                <input asp-for="News.GpsLng" class="form-control" /> 
            <span asp-validationfor="News.GpsLng" class="text-danger"></span>             
            </div>             
 
 
            <div class="form-group">                 
                 โพสโดย: @UserManager.GetUserName(User);                 
                <input asp-for="News.NewsUserId" type="hidden"                 
                        value="@UserManager.GetUserId(User)" />                            
            </div> 
 
            <div class="form-group">                 
                <input type="submit" value="Create" clas s="btn btn-default" />             
            </div>         
        </form> 
    </div> 
</div> 
 
<div>     
    <a asp-page="Index">Back to List</a> 
</div> 
 
@section Scripts 
{    
     @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} 
}