@page
@model NewsReport.Pages.NewsAdmin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>รายละเอียดวิชา</h2>

<div>
    <h4>News</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            หมวดหมู่ชั้นปี
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsCat.ShortName)
        </dd>

        <dt>
            รหัสวิชา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsStatus)
        </dd>


        <dt>
            ชื่อวิชาภาษาอังกฤษ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsDetail)
        </dd>
        <dt>
            ปีการศึกษา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.GpsLat)
        </dd>
        <dt>
            จำนวนผู้ลงทะเบียน
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.GpsLng)
        </dd>

    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.News.NewsID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
