@page
@model NewsReport.Pages.NewsAdmin.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>News</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="News.NewsID" />
        
             <div class="form-group">                 
                รหัสวิชา                 
                <input asp-for="News.NewsStatus" class="form-control" />                                       
                <span asp-validationfor="News.NewsStatus" class="text-danger"></span>             
            </div>           
            <div class="form-group">                            
                ชื่อวิชาภาษาอังกฤษ                 
                <textarea asp-for="News.NewsDetail" class="formcontrol" rows=5 cols=50 >                 
                </textarea>                 
                <span asp-validationfor="News.NewsDetail" class="text-danger"></span>             
            </div>             
            <div class="form-group">                 
                ภาคการศึกษา                 
                <input asp-for="News.GpsLat" class="form-control" />                 
                <span asp-validationfor="News.GpsLat" class="text-danger"></span>             
            </div>             
            <div class="form-group">                
                จำนวนผู้ลงทะเบียน              
                <input asp-for="News.GpsLng" class="form-control" /> 
            <span asp-validationfor="News.GpsLng" class="text-danger"></span>             
            </div>             

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
