@page
@model NewsReport.Pages.NewsAdmin.IndexModel

@{
    ViewData["Title"] = "Manage Subject";
}

<h2>จัดการรายวิชา</h2>

<p>
    <a asp-page="Create">สร้างรายวิชา</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                หมวดชั้นปี
            </th>
            <th>
                รหัสวิชา 
            </th>
            <th>
                ชื่อวิชาภาษาอังกฤษ
            </th>

            <th>
                ภาคการศึกษา 
            </th>
            <th>
                จำนวนผู้ลงทะเบียน 
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.News) {
        
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NewsCat.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GpsLat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GpsLng)
            </td>

            <td>
                <a asp-page="./Edit" asp-route-id="@item.NewsID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.NewsID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.NewsID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
